html {
    background-color: midnightblue;
    font-family: 'Hubballi';
    font-size: 20px;
}

@font-face {
    font-family: 'MoonTime-Regular';
    src: url('../fonts/MoonTime-Regular.ttf');
}

a {
    color: white;
    text-decoration: none;
}

/* upper section */
.upper-section {
    margin: 0;
    padding: 0;
    /* background-image: url('../img/placeholder.png');
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(rgb(20, 30, 51), rgb(159, 140, 186));
     
    height: 550px;
}

h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.navbar {
    text-align: right;
}

/* navbar individual text elements */
.navbar > ul > li {
    margin: 15px;
}

.navbar > ul > li > a:hover {
    color: pink;
}

#moon {
    height: 35px;
    width: 35px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: #eeecf5;
    border-radius: 50%;
    display:table;
    box-shadow: 0 0 50px 1em #f4a6cf;
}

.main-info {
    margin-top: 50px;
    color: white;
    text-align: center;
}

/* .subtitle {
} */

/* lower section */

.projects-header {
    font-family: 'MoonTime-Regular';
    font-size: 70px;
    color: white;
    text-align: center;
}

.column {
    display: inline-block;
    writing-mode: vertical-lr;
    background-color: gray;
    margin: 0 auto;
    padding: 10px;
    width: 150px;
    height: 600px;
    margin: 10px;
}

.column:hover {
    background-color: lightgray;
    box-shadow: 0 0 50px 0.5em pink;
}

.category-links {
    width: 100%;
    color: white;
    text-align: center;
}

ul, body {
    margin: 0;
    padding: 0;
}

ul > li {
    display: inline-block;
}


